// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
	margin: 20px 15px 20px 15px;
}

div.vehicle {
	margin: 0px 15px 30px 15px;
	border: 1px solid gray;
	border-radius: 7px;
	height: auto;
	width: 240px;
	float: left;
	text-align: center;
}

div.img {
	height: auto;
	width: auto;	
	margin: 0 auto;
}

img.hero {
	width: 100%;
	-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

div.desc, div.rating{
	text-align: center;
	width: auto;
	border-top: 1px solid gray;
	padding: 10px 0px 10px 0px;
}

div.desc {
	border: none;
}